/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:e7092157e79d2603ac08fd5b26c6d4a8:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.qsicons {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icons.png);}

.accuracy {width:48px; height:48px; background-position: -1796px -96px}
.agony {width:48px; height:48px; background-position: -1748px -144px}
.backpack {width:48px; height:48px; background-position: -1748px -96px}
.backpackborderless {width:48px; height:48px; background-position: -1796px -48px}
.blessing {width:48px; height:48px; background-position: -1748px -48px}
.casterblue {width:48px; height:48px; background-position: -1700px -144px}
.castergreen {width:48px; height:48px; background-position: -1700px -96px}
.casterorange {width:48px; height:48px; background-position: -1700px -48px}
.coin {width:48px; height:48px; background-position: -1762px -0px}
.commonchainmailchest {width:48px; height:48px; background-position: -1714px -0px}
.commonchainmailfeet {width:48px; height:48px; background-position: -1652px -144px}
.commonchainmailhands {width:48px; height:48px; background-position: -1652px -96px}
.commonchainmailhead {width:48px; height:48px; background-position: -1666px -0px}
.commonchainmaillegs {width:48px; height:48px; background-position: -1652px -48px}
.commonclothchest {width:48px; height:48px; background-position: -1604px -144px}
.commonclothfeet {width:48px; height:48px; background-position: -1604px -96px}
.commonclothhands {width:48px; height:48px; background-position: -1618px -0px}
.commonclothhead {width:48px; height:48px; background-position: -1604px -48px}
.commonclothlegs {width:48px; height:48px; background-position: -1556px -144px}
.commonflail {width:48px; height:48px; background-position: -1556px -96px}
.commonmace {width:48px; height:48px; background-position: -1570px -0px}
.commonmount {width:64px; height:64px; background-position: -64px -0px}
.commonshield {width:48px; height:48px; background-position: -1556px -48px}
.commonstaff {width:48px; height:48px; background-position: -1508px -144px}
.commonsword {width:48px; height:48px; background-position: -1508px -96px}
.commontome {width:48px; height:48px; background-position: -1522px -0px}
.commonwand {width:48px; height:48px; background-position: -1508px -48px}
.earthquake {width:48px; height:48px; background-position: -1460px -144px}
.endurance {width:48px; height:48px; background-position: -1460px -96px}
.energy {width:50px; height:50px; background-position: -114px -114px}
.energyshower {width:48px; height:48px; background-position: -1474px -0px}
.epicchainmailchest {width:48px; height:48px; background-position: -1460px -48px}
.epicchainmailfeet {width:48px; height:48px; background-position: -1412px -144px}
.epicchainmailhands {width:48px; height:48px; background-position: -1412px -96px}
.epicchainmailhead {width:48px; height:48px; background-position: -1426px -0px}
.epicchainmaillegs {width:48px; height:48px; background-position: -1412px -48px}
.epicclothchest {width:48px; height:48px; background-position: -1364px -144px}
.epicclothfeet {width:48px; height:48px; background-position: -1364px -96px}
.epicclothhands {width:48px; height:48px; background-position: -1378px -0px}
.epicclothhead {width:48px; height:48px; background-position: -1364px -48px}
.epicclothlegs {width:48px; height:48px; background-position: -1316px -144px}
.epicflail {width:48px; height:48px; background-position: -1316px -96px}
.epicmace {width:48px; height:48px; background-position: -1330px -0px}
.epicmount {width:64px; height:64px; background-position: -0px -128px}
.epicshield {width:48px; height:48px; background-position: -1316px -48px}
.epicstaff {width:48px; height:48px; background-position: -1268px -144px}
.epicsword {width:48px; height:48px; background-position: -1268px -96px}
.epictome {width:48px; height:48px; background-position: -1282px -0px}
.epicwand {width:48px; height:48px; background-position: -1268px -48px}
.essence {width:50px; height:50px; background-position: -128px -0px}
.evileye {width:48px; height:48px; background-position: -1220px -144px}
.exceptionalresistance {width:48px; height:48px; background-position: -1220px -96px}
.exp {width:48px; height:48px; background-position: -1234px -0px}
.fastreflexes {width:48px; height:48px; background-position: -1220px -48px}
.fireball {width:48px; height:48px; background-position: -1172px -144px}
.fireball2 {width:48px; height:48px; background-position: -1172px -96px}
.firestorm {width:48px; height:48px; background-position: -1186px -0px}
.focusedmind {width:48px; height:48px; background-position: -1172px -48px}
.forge-of-doom {width:48px; height:48px; background-position: -1124px -144px}
.frame {width:48px; height:48px; background-position: -1124px -96px}
.gold {width:50px; height:50px; background-position: -114px -64px}
.gracefultouch {width:48px; height:48px; background-position: -1138px -0px}
.greatergrace {width:48px; height:48px; background-position: -1124px -48px}
.healingsphere {width:48px; height:48px; background-position: -1076px -144px}
.herbalism {width:48px; height:48px; background-position: -1076px -96px}
.hit {width:48px; height:48px; background-position: -1090px -0px}
.horse {width:48px; height:48px; background-position: -1076px -48px}
.icestorm {width:48px; height:48px; background-position: -1028px -144px}
.icestorm2 {width:48px; height:48px; background-position: -1028px -96px}
.icestorm3 {width:48px; height:48px; background-position: -1042px -0px}
.improvedconcentration {width:48px; height:48px; background-position: -1028px -48px}
.improvedintelligence {width:48px; height:48px; background-position: -980px -144px}
.improvedmagicalforce {width:48px; height:48px; background-position: -980px -96px}
.improvedstamina {width:48px; height:48px; background-position: -994px -0px}
.improvedwill {width:48px; height:48px; background-position: -980px -48px}
.intervention {width:48px; height:48px; background-position: -932px -144px}
.invite {width:48px; height:48px; background-position: -932px -96px}
.magicalpotency {width:48px; height:48px; background-position: -946px -0px}
.magicexplosion {width:48px; height:48px; background-position: -932px -48px}
.magicfire {width:48px; height:48px; background-position: -884px -144px}
.meteorites {width:48px; height:48px; background-position: -884px -96px}
.mining {width:48px; height:48px; background-position: -898px -0px}
.miss {width:48px; height:48px; background-position: -884px -48px}
.potiondefense {width:48px; height:48px; background-position: -836px -144px}
.potionendurance {width:48px; height:48px; background-position: -836px -96px}
.potionintelligence {width:48px; height:48px; background-position: -850px -0px}
.potionstrength {width:48px; height:48px; background-position: -836px -48px}
.powerface {width:48px; height:48px; background-position: -788px -144px}
.powerface2 {width:48px; height:48px; background-position: -788px -96px}
.powermind {width:48px; height:48px; background-position: -802px -0px}
.powerthought {width:48px; height:48px; background-position: -788px -48px}
.qsfbicon_50x50 {width:50px; height:50px; background-position: -64px -114px}
.questlog {width:48px; height:48px; background-position: -740px -144px}
.questlogborderless {width:48px; height:48px; background-position: -740px -96px}
.rarechainmailchest {width:48px; height:48px; background-position: -754px -0px}
.rarechainmailfeet {width:48px; height:48px; background-position: -740px -48px}
.rarechainmailhands {width:48px; height:48px; background-position: -692px -144px}
.rarechainmailhead {width:48px; height:48px; background-position: -692px -96px}
.rarechainmaillegs {width:48px; height:48px; background-position: -706px -0px}
.rareclothchest {width:48px; height:48px; background-position: -692px -48px}
.rareclothfeet {width:48px; height:48px; background-position: -644px -144px}
.rareclothhands {width:48px; height:48px; background-position: -644px -96px}
.rareclothhead {width:48px; height:48px; background-position: -658px -0px}
.rareclothlegs {width:48px; height:48px; background-position: -644px -48px}
.rareflail {width:48px; height:48px; background-position: -596px -144px}
.raremace {width:48px; height:48px; background-position: -596px -96px}
.raremount {width:64px; height:64px; background-position: -0px -64px}
.rareshield {width:48px; height:48px; background-position: -610px -0px}
.rarestaff {width:48px; height:48px; background-position: -596px -48px}
.raresword {width:48px; height:48px; background-position: -548px -144px}
.raretome {width:48px; height:48px; background-position: -548px -96px}
.rarewand {width:48px; height:48px; background-position: -562px -0px}
.salvation {width:48px; height:48px; background-position: -548px -48px}
.settings {width:48px; height:48px; background-position: -500px -144px}
.settingsborderless {width:48px; height:48px; background-position: -500px -96px}
.shield {width:48px; height:48px; background-position: -514px -0px}
.shieldfire {width:48px; height:48px; background-position: -500px -48px}
.shieldice {width:48px; height:48px; background-position: -452px -144px}
.shieldred {width:48px; height:48px; background-position: -452px -96px}
.skinning {width:48px; height:48px; background-position: -466px -0px}
.sound {width:48px; height:48px; background-position: -452px -48px}
.soundborderless {width:48px; height:48px; background-position: -404px -144px}
.summoner {width:48px; height:48px; background-position: -404px -96px}
.summoner2 {width:48px; height:48px; background-position: -418px -0px}
.turn {width:48px; height:48px; background-position: -404px -48px}
.unbreakablewill {width:48px; height:48px; background-position: -356px -144px}
.uncommonchainmailchest {width:48px; height:48px; background-position: -356px -96px}
.uncommonchainmailfeet {width:48px; height:48px; background-position: -370px -0px}
.uncommonchainmailhands {width:48px; height:48px; background-position: -356px -48px}
.uncommonchainmailhead {width:48px; height:48px; background-position: -308px -144px}
.uncommonchainmaillegs {width:48px; height:48px; background-position: -308px -96px}
.uncommonclothchest {width:48px; height:48px; background-position: -322px -0px}
.uncommonclothfeet {width:48px; height:48px; background-position: -308px -48px}
.uncommonclothhands {width:48px; height:48px; background-position: -260px -144px}
.uncommonclothhead {width:48px; height:48px; background-position: -260px -96px}
.uncommonclothlegs {width:48px; height:48px; background-position: -274px -0px}
.uncommonflail {width:48px; height:48px; background-position: -260px -48px}
.uncommonmace {width:48px; height:48px; background-position: -212px -144px}
.uncommonmount {width:64px; height:64px; background-position: -0px -0px}
.uncommonshield {width:48px; height:48px; background-position: -212px -96px}
.uncommonstaff {width:48px; height:48px; background-position: -226px -0px}
.uncommonsword {width:48px; height:48px; background-position: -212px -48px}
.uncommontome {width:48px; height:48px; background-position: -164px -98px}
.uncommonwand {width:48px; height:48px; background-position: -178px -0px}
.vitality {width:48px; height:48px; background-position: -164px -50px}
.x {width:50px; height:50px; background-position: -64px -64px}
