@import "interactivemap.css";
@import "profession.css";
@import "lore.css";
@import "rpgicons.css";
@import "attributes.css";
@import "monsters.css";
@import "instance.css";
@import "dungeonlist.css";
@import "maps.css";
@import "match2game.css";
@import "guilds.css";
@import "questmaker.css";
@import "news.css";
@import "battle.css";
@import "animations.css";
@import "npcs.css";
@import "map.css";
@import "popover.css";
@import "inventory.css";
@import "market.css";
/*@import "heroes.css";*/
@import "icons.css";
@import "status.css";
@import "gear.css";
@import "home.css";
@import "hr.css";
@import "guild.css";
@import "app.css";
@import "stats.css";
@import "characterCreate.css";
@import "characterList.css";
@import "game.css";
@import "quest.css";
@import "popups.css";
@import "duel.css";
@import url(http://fonts.googleapis.com/css?family=MedievalSharp);

*{
	-webkit-user-select:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

canvas{
	position: absolute;
	top:0;
	left:0;
	pointer-events:none;
	width:100%;
	height:100%;
}

a{cursor:pointer;text-decoration: underline;}
a:hover{color:white;}
/*CUSTOM COLORS PER TAG*/
h5{color:#FFE600;}
.disabled{color:#9E9E9E;pointer-events:none;}
textarea{
	color: orange;
	background: rgb(61, 61, 61);
	border: none;
	font-size: 0.8em;
}
p:first-letter{
	/*color:yellow;*/
	font-size: 1.2em;
	font-weight: bold;
}
.no-events{
	pointer-events:none;
}
.note{
	color:rgb(175, 175, 175);
	font-size: small;
	text-transform: lowercase;
}


/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	button{
		height:40px;
	}
}

html{
	height:100%;
	background: url('../images/ui/nightatoll11680_low.jpg'); 
	overflow-x:hidden;
}
body{
	/*background: #292721;*/
	font-family:'MedievalSharp',sans-serif;
	color:#ff6600;
	text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
	max-width: 768px;
	height:100%;
	margin:auto;
	background-color: rgba(0,0,0,0.4);
	overflow-x:hidden;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input{
	color: orange;
	background: rgb(61, 61, 61);
	border: none;
	cursor: pointer;
	font-size: 1.2em;
}
.wrapper{
	overflow-y:auto;
	overflow-x:hidden;
	/*background:
		url('../images/ui/corner.png') left top no-repeat,
		url('../images/ui/cornerTopRight.png') right top no-repeat,
		url('../images/ui/cornerBottomRight.png') right bottom no-repeat,
		url('../images/ui/cornerBottomLeft.png') left bottom no-repeat;*/
	height:100%;
}
.topFrame{
	height:100%;
	width:100%;
	overflow:hidden;
	background:
		url('../images/ui/corner.png') left top no-repeat,
		url('../images/ui/cornerTopRight.png') right top no-repeat,
		url('../images/ui/cornerBottomRight.png') right bottom no-repeat,
		url('../images/ui/cornerBottomLeft.png') left bottom no-repeat;
}

small{
	font-size: 0.7em;
}

a{
	color:red;
}
a:hover{
	color:white;
}

.textButton{
	color:white;
	cursor:pointer;
}
.textButton:hover{
	color:red;
}

.invisible{
	display:none;
}
.cursor{cursor:pointer;}
ul,li{list-style: none;padding:0;}


h1{font-size: 2em;}
h2{font-size: 1.8em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em;}
h5{font-size: 1.2em;}
h6{font-size: 1em;}
p{font-size: 0.8em;}

button{min-width: 120px;}
button, input[type=submit],select{
	background: url('slate.jpg');
	cursor: pointer;
	color:rgb(235,235,235);
	/*font-weight: bold;*/
	font-size: 1em;
	/*padding: 6px;*/
	/*text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);*/
	-webkit-border-radius: 10.636363636363637px;
	-moz-border-radius: 10.636363636363637px;
	border-radius: 10.636363636363637px;
	/*background: rgb(210, 20, 20);*/
	/*background: -moz-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);*/
	/*background: -webkit-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);*/
	/*background: -o-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);*/
	/*background: -ms-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);*/
	/*background: linear-gradient(0deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);*/
	-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
}
button{
	background: url('slate.jpg');
	font-family: "MedievalSharp";
	font-weight: bold;
	font-size: 1em;
}
button:focus{
	outline: 0;
}

.navButton{
	font-size: 1.2em;
	line-height: 2.4em;
	margin: auto;
	height: 50px;
	border: 1px solid burlywood;
	background: #814304;
	margin-bottom: 10px;
	border-radius: 30px;
}

.imageFrame{
	border: 2px solid rgb(100, 100, 100);
	border-radius: 10px;
}
.cornerFrames{
	background:
		url('../images/ui/corner.png') left top no-repeat,
		url('../images/ui/cornerTopRight.png') right top no-repeat,
		url('../images/ui/cornerBottomRight.png') right bottom no-repeat,
		url('../images/ui/cornerBottomLeft.png') left bottom no-repeat;

	width:inherit;
	height:inherit;
	top:0;
	left:0;
	position: absolute;
	pointer-events:none;
}
.smallCornerFrames{
	background:
		url('../images/ui/corner_small.png') left top no-repeat,
		url('../images/ui/cornerTopRight_small.png') right top no-repeat,
		url('../images/ui/cornerBottomRight_small.png') right bottom no-repeat,
		url('../images/ui/cornerBottomLeft_small.png') left bottom no-repeat;

	width:inherit;
	height:inherit;
	top:0;
	left:0;
	position: absolute;
	pointer-events:none;
}
.box{
	background: rgba(0,0,0,0.5);
	text-align: left;
	padding:2px;
	/*width: 80%;*/
	margin: auto;
	margin-top: 2px;
	/*border: 3px solid rgb(92, 59, 0);*/
	/*border-left: none;*/
	/*border-right: none;*/
	/*border-radius:10px;*/
	/*position: relative;*/
}

.margin-auto{margin:auto;}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.m5{height:5px;}
.m10{height:10px;}
.m15{height:15px;}
.m20{height:20px;}
.m25{height:25px;}
.m30{height:30px;}
.m35{height:35px;}
.m40{height:40px;}
.m45{height:45px;}
.m50{height:50px;}
.m60{height:60px;}
.m70{height:70px;}
.m80{height:80px;}
.m90{height:90px;}
.m100{height:100px;}

.w1{width:1px;height:1px;}
.w2{width:2px;height:1px;}
.w3{width:3px;height:1px;}
.w4{width:4px;height:1px;}
.w5{width:5px;height:1px;}
.w10{width:10px;height:1px;}
.w20{width:20px;height:1px;}
.w30{width:30px;height:1px;}
.w40{width:40px;height:1px;}
.w50{width:50px;height:1px;}
.w60{width:60px;height:1px;}
.w70{width:70px;height:1px;}
.w80{width:80px;height:1px;}
.w90{width:90px;height:1px;}
.w100{width:100px;height:1px;}
.floatLeft{float:left;}
.floatRight{float:right;}
.clear{clear:both;}

.iconFrame{
	border: 2px solid rgb(218, 218, 218);
	border-radius: 10px;
	border-style: inset;
}
.iconSelected{
	border:2px dashed rgb(113, 252, 113);
	border-radius: 5px;
}
.iconTopRight{
	position: absolute;
	right: 10px;
	top: 10px;
}


/*PROGRESS BAR*/
.progress-bar{
	position: relative;
	height: 12px;
	border: 3px solid grey;
	border-radius: 6px;
	margin:auto;
	border-top: 0;
}
.progress-bar-fill{
	width: 100%;
	height: inherit;
	/*background: rgb(33, 216, 33);*/
	border-radius: 3px;
	/*width: 0%;*/

	-webkit-transition:width 0.3s ease-in-out;
	-moz-transition:width 0.3s ease-in-out;
	-o-transition:width 0.3s ease-in-out;
	transition:width 0.3s ease-in-out;

	background: #b4e391; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZTM5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzYxYzQxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGUzOTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-8 */

}
.progress-bar-label{
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	margin-top:-12px;
	color: white;
	/*text-shadow: 1px 1px black;*/
	font-family: Verdana,sans-serif;
	font-size:9pt;
	/*line-height: 12px;*/
}
/*--------------------*/

.stat{
	font-family: Verdana,sans-serif;
	font-size: 0.8em;
	color:rgb(113, 252, 113);
}

.itemSelected{
	-moz-box-shadow: 0 0 20px 2px #FFFFFF;
	-webkit-box-shadow: 0 0 20px 2px #FFFFFF;
 	box-shadow: 0 0 20px 2px #FFFFFF;
}

.halfScale{
	-webkit-transform:scale(0.5);
	-moz-transform:scale(0.5);
	-ms-transform:scale(0.5);
	-o-transform:scale(0.5);
	transform:scale(0.5);
}

.buttonDown{
	color:#ff6600;
}
.more{
	visibility:hidden; 
}
.showMore{
	display:none;
}

.epic-glow{
	-moz-box-shadow: 0 0 30px rgb(233, 22, 233); /* Firefox */  
 	-webkit-box-shadow: 0 0 30px rgb(233, 22, 233); /* Safari, Chrome */  
 	-o-box-shadow: 0 0 30px rgb(233, 22, 233);  
 	box-shadow: 0 0 30px rgb(233, 22, 233); /* CSS3 */  
}
.rare-glow{
	-moz-box-shadow: 0 0 30px rgb(115, 115, 255); /* Firefox */  
 	-webkit-box-shadow: 0 0 30px rgb(115, 115, 255); /* Safari, Chrome */  
 	-o-box-shadow: 0 0 30px rgb(115, 115, 255);  
 	box-shadow: 0 0 30px rgb(115, 115, 255); /* CSS3 */  
}
.uncommon-glow{
	-moz-box-shadow: 0 0 30px rgb(113, 252, 113); /* Firefox */  
 	-webkit-box-shadow: 0 0 30px rgb(113, 252, 113); /* Safari, Chrome */  
 	-o-box-shadow: 0 0 30px rgb(113, 252, 113);  
 	box-shadow: 0 0 30px rgb(113, 252, 113); /* CSS3 */  
}
.common-glow{
	-moz-box-shadow: 0 0 30px #BEBEBE; /* Firefox */  
 	-webkit-box-shadow: 0 0 30px #BEBEBE; /* Safari, Chrome */  
 	-o-box-shadow: 0 0 30px #BEBEBE;  
 	box-shadow: 0 0 30px #BEBEBE; /* CSS3 */  
}