/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:e00583957437f83f861420fd07507ab7:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.maps {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(maps.png);}

.bridge {width:300px; height:140px; background-position: -1200px -280px}
.cathedral {width:300px; height:140px; background-position: -900px -280px}
.church {width:300px; height:140px; background-position: -1200px -140px}
.city {width:300px; height:140px; background-position: -900px -140px}
.crystalCaverns {width:300px; height:140px; background-position: -1200px -0px}
.divinionAcres {width:300px; height:140px; background-position: -900px -0px}
.finkeepCastle {width:300px; height:140px; background-position: -600px -280px}
.freeboro {width:300px; height:140px; background-position: -600px -140px}
.mountainPass {width:300px; height:140px; background-position: -600px -0px}
.redForest {width:300px; height:140px; background-position: -300px -280px}
.river {width:300px; height:140px; background-position: -300px -140px}
.saintsRest {width:300px; height:140px; background-position: -300px -0px}
.tallForest {width:300px; height:140px; background-position: -0px -280px}
.trainingGrounds {width:300px; height:140px; background-position: -0px -140px}
.wormField {width:300px; height:140px; background-position: -0px -0px}
