/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:334b8426ec96fdfade79c1902401600d:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.npcs {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(npcs.png);}

.blank {width:100px; height:150px; background-position: -0px -1350px}
.dwarf_female {width:100px; height:150px; background-position: -0px -1200px}
.dwarf_female_medium_landscape {width:100px; height:50px; background-position: -0px -1900px}
.dwarf_male {width:100px; height:150px; background-position: -0px -1050px}
.dwarf_male_medium_landscape {width:100px; height:50px; background-position: -0px -1850px}
.dwarf_spirit {width:100px; height:150px; background-position: -0px -900px}
.dwarf_spirit_medium_landscape {width:100px; height:50px; background-position: -0px -1800px}
.elf_female {width:100px; height:150px; background-position: -0px -750px}
.elf_female_medium_landscape {width:100px; height:50px; background-position: -0px -1750px}
.elf_male {width:100px; height:150px; background-position: -0px -600px}
.elf_male_medium_landscape {width:100px; height:50px; background-position: -0px -1700px}
.elf_spirit {width:100px; height:150px; background-position: -0px -450px}
.elf_spirit_medium_landscape {width:100px; height:50px; background-position: -0px -1650px}
.human_female {width:100px; height:150px; background-position: -0px -300px}
.human_female_medium_landscape {width:100px; height:50px; background-position: -0px -1600px}
.human_male {width:100px; height:150px; background-position: -0px -150px}
.human_male_medium_landscape {width:100px; height:50px; background-position: -0px -1550px}
.human_spirit {width:100px; height:150px; background-position: -0px -0px}
.human_spirit_medium_landscape {width:100px; height:50px; background-position: -0px -1500px}
