/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:8ed2d7ccebcaa7dac54212d697fab043:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.rpgicons {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(rpgicons.png);}

.A_Armor04 {width:48px; height:48px; background-position: -1002px -902px}
.A_Armor05 {width:48px; height:48px; background-position: -952px -952px}
.A_Armour01 {width:48px; height:48px; background-position: -952px -902px}
.A_Armour02 {width:48px; height:48px; background-position: -1002px -852px}
.A_Armour03 {width:48px; height:48px; background-position: -952px -852px}
.A_Clothing01 {width:48px; height:48px; background-position: -902px -952px}
.A_Clothing02 {width:48px; height:48px; background-position: -902px -902px}
.A_Shoes01 {width:48px; height:48px; background-position: -902px -852px}
.A_Shoes02 {width:48px; height:48px; background-position: -1002px -802px}
.A_Shoes03 {width:48px; height:48px; background-position: -952px -802px}
.A_Shoes04 {width:48px; height:48px; background-position: -902px -802px}
.A_Shoes05 {width:48px; height:48px; background-position: -852px -952px}
.A_Shoes06 {width:48px; height:48px; background-position: -852px -902px}
.A_Shoes07 {width:48px; height:48px; background-position: -852px -852px}
.Ac_Earing01 {width:48px; height:48px; background-position: -852px -802px}
.Ac_Earing02 {width:48px; height:48px; background-position: -1002px -752px}
.Ac_Gloves01 {width:48px; height:48px; background-position: -952px -752px}
.Ac_Gloves02 {width:48px; height:48px; background-position: -902px -752px}
.Ac_Gloves03 {width:48px; height:48px; background-position: -852px -752px}
.Ac_Gloves04 {width:48px; height:48px; background-position: -802px -952px}
.Ac_Gloves05 {width:48px; height:48px; background-position: -802px -902px}
.Ac_Gloves06 {width:48px; height:48px; background-position: -802px -852px}
.Ac_Gloves07 {width:48px; height:48px; background-position: -802px -802px}
.Ac_Medal01 {width:48px; height:48px; background-position: -802px -752px}
.Ac_Medal02 {width:48px; height:48px; background-position: -1002px -702px}
.Ac_Medal03 {width:48px; height:48px; background-position: -952px -702px}
.Ac_Medal04 {width:48px; height:48px; background-position: -902px -702px}
.Ac_Necklace01 {width:48px; height:48px; background-position: -852px -702px}
.Ac_Necklace02 {width:48px; height:48px; background-position: -802px -702px}
.Ac_Necklace03 {width:48px; height:48px; background-position: -752px -952px}
.Ac_Necklace04 {width:48px; height:48px; background-position: -752px -902px}
.Ac_Ring01 {width:48px; height:48px; background-position: -752px -852px}
.Ac_Ring02 {width:48px; height:48px; background-position: -752px -802px}
.Ac_Ring03 {width:48px; height:48px; background-position: -752px -752px}
.Ac_Ring04 {width:48px; height:48px; background-position: -752px -702px}
.C_Elm01 {width:48px; height:48px; background-position: -1002px -652px}
.C_Elm02 {width:48px; height:48px; background-position: -952px -652px}
.C_Elm03 {width:48px; height:48px; background-position: -902px -652px}
.C_Elm04 {width:48px; height:48px; background-position: -852px -652px}
.C_Hat01 {width:48px; height:48px; background-position: -802px -652px}
.C_Hat02 {width:48px; height:48px; background-position: -752px -652px}
.C_Hat03 {width:48px; height:48px; background-position: -702px -952px}
.E_Bones01 {width:48px; height:48px; background-position: -702px -902px}
.E_Bones02 {width:48px; height:48px; background-position: -702px -852px}
.E_Bones03 {width:48px; height:48px; background-position: -702px -802px}
.E_Gold01 {width:48px; height:48px; background-position: -702px -752px}
.E_Gold02 {width:48px; height:48px; background-position: -702px -702px}
.E_Metal01 {width:48px; height:48px; background-position: -702px -652px}
.E_Metal02 {width:48px; height:48px; background-position: -1002px -602px}
.E_Metal03 {width:48px; height:48px; background-position: -952px -602px}
.E_Metal04 {width:48px; height:48px; background-position: -902px -602px}
.E_Metal05 {width:48px; height:48px; background-position: -852px -602px}
.E_Wood01 {width:48px; height:48px; background-position: -802px -602px}
.E_Wood02 {width:48px; height:48px; background-position: -752px -602px}
.E_Wood03 {width:48px; height:48px; background-position: -702px -602px}
.E_Wood04 {width:48px; height:48px; background-position: -652px -952px}
.I_Agate {width:48px; height:48px; background-position: -652px -902px}
.I_Amethist {width:48px; height:48px; background-position: -652px -852px}
.I_Antidote {width:48px; height:48px; background-position: -652px -802px}
.I_BatWing {width:48px; height:48px; background-position: -652px -752px}
.I_BirdsBeak {width:48px; height:48px; background-position: -652px -702px}
.I_Bone {width:48px; height:48px; background-position: -652px -652px}
.I_Book {width:48px; height:48px; background-position: -652px -602px}
.I_Bottle01 {width:48px; height:48px; background-position: -1002px -552px}
.I_Bottle02 {width:48px; height:48px; background-position: -952px -552px}
.I_Bottle03 {width:48px; height:48px; background-position: -902px -552px}
.I_Bottle04 {width:48px; height:48px; background-position: -852px -552px}
.I_BronzeBar {width:48px; height:48px; background-position: -802px -552px}
.I_BronzeCoin {width:48px; height:48px; background-position: -752px -552px}
.I_C_Apple {width:48px; height:48px; background-position: -702px -552px}
.I_C_Banana {width:48px; height:48px; background-position: -652px -552px}
.I_C_Bread {width:48px; height:48px; background-position: -602px -952px}
.I_C_Carrot {width:48px; height:48px; background-position: -602px -902px}
.I_C_Cheese {width:48px; height:48px; background-position: -602px -852px}
.I_C_Cherry {width:48px; height:48px; background-position: -602px -802px}
.I_C_Egg {width:48px; height:48px; background-position: -602px -752px}
.I_C_Fish {width:48px; height:48px; background-position: -602px -702px}
.I_C_Grapes {width:48px; height:48px; background-position: -602px -652px}
.I_C_GreenGrapes {width:48px; height:48px; background-position: -602px -602px}
.I_C_GreenPepper {width:48px; height:48px; background-position: -602px -552px}
.I_C_Lemon {width:48px; height:48px; background-position: -1002px -502px}
.I_C_Meat {width:48px; height:48px; background-position: -952px -502px}
.I_C_Mulberry {width:48px; height:48px; background-position: -902px -502px}
.I_C_Mushroom {width:48px; height:48px; background-position: -852px -502px}
.I_C_Nut {width:48px; height:48px; background-position: -802px -502px}
.I_C_Orange {width:48px; height:48px; background-position: -752px -502px}
.I_C_Pear {width:48px; height:48px; background-position: -702px -502px}
.I_C_Pie {width:48px; height:48px; background-position: -652px -502px}
.I_C_Pineapple {width:48px; height:48px; background-position: -602px -502px}
.I_C_Radish {width:48px; height:48px; background-position: -552px -952px}
.I_C_RawFish {width:48px; height:48px; background-position: -552px -902px}
.I_C_RawMeat {width:48px; height:48px; background-position: -552px -852px}
.I_C_RedPepper {width:48px; height:48px; background-position: -552px -802px}
.I_C_Strawberry {width:48px; height:48px; background-position: -552px -752px}
.I_C_UnripeApple {width:48px; height:48px; background-position: -552px -702px}
.I_C_Watermellon {width:48px; height:48px; background-position: -552px -652px}
.I_C_YellowPepper {width:48px; height:48px; background-position: -552px -602px}
.I_Cannon01 {width:48px; height:48px; background-position: -552px -552px}
.I_Cannon02 {width:48px; height:48px; background-position: -552px -502px}
.I_Cannon03 {width:48px; height:48px; background-position: -1002px -452px}
.I_Cannon04 {width:48px; height:48px; background-position: -952px -452px}
.I_Cannon05 {width:48px; height:48px; background-position: -902px -452px}
.I_Chest01 {width:48px; height:48px; background-position: -852px -452px}
.I_Chest02 {width:48px; height:48px; background-position: -802px -452px}
.I_Coal {width:48px; height:48px; background-position: -752px -452px}
.I_Crystal01 {width:48px; height:48px; background-position: -702px -452px}
.I_Crystal02 {width:48px; height:48px; background-position: -652px -452px}
.I_Crystal03 {width:48px; height:48px; background-position: -602px -452px}
.I_Diamond {width:48px; height:48px; background-position: -552px -452px}
.I_Eye {width:48px; height:48px; background-position: -502px -952px}
.I_Fabric {width:48px; height:48px; background-position: -502px -902px}
.I_Fang {width:48px; height:48px; background-position: -502px -852px}
.I_Feather01 {width:48px; height:48px; background-position: -502px -802px}
.I_Feather02 {width:48px; height:48px; background-position: -502px -752px}
.I_FishTail {width:48px; height:48px; background-position: -502px -702px}
.I_FoxTail {width:48px; height:48px; background-position: -502px -652px}
.I_FrogLeg {width:48px; height:48px; background-position: -502px -602px}
.I_GoldBar {width:48px; height:48px; background-position: -502px -552px}
.I_GoldCoin {width:48px; height:48px; background-position: -502px -502px}
.I_Ink {width:48px; height:48px; background-position: -502px -452px}
.I_IronBall {width:48px; height:48px; background-position: -1002px -402px}
.I_Jade {width:48px; height:48px; background-position: -952px -402px}
.I_Key01 {width:48px; height:48px; background-position: -902px -402px}
.I_Key02 {width:48px; height:48px; background-position: -852px -402px}
.I_Key03 {width:48px; height:48px; background-position: -802px -402px}
.I_Key04 {width:48px; height:48px; background-position: -752px -402px}
.I_Key05 {width:48px; height:48px; background-position: -702px -402px}
.I_Key06 {width:48px; height:48px; background-position: -652px -402px}
.I_Key07 {width:48px; height:48px; background-position: -602px -402px}
.I_Leaf {width:48px; height:48px; background-position: -552px -402px}
.I_Map {width:48px; height:48px; background-position: -502px -402px}
.I_Mirror {width:48px; height:48px; background-position: -452px -952px}
.I_Opal {width:48px; height:48px; background-position: -452px -902px}
.I_Rock01 {width:48px; height:48px; background-position: -452px -852px}
.I_Rock02 {width:48px; height:48px; background-position: -452px -802px}
.I_Rock03 {width:48px; height:48px; background-position: -452px -752px}
.I_Rock04 {width:48px; height:48px; background-position: -452px -702px}
.I_Rock05 {width:48px; height:48px; background-position: -452px -652px}
.I_Rubi {width:48px; height:48px; background-position: -452px -602px}
.I_Saphire {width:48px; height:48px; background-position: -452px -552px}
.I_ScorpionClaw {width:48px; height:48px; background-position: -452px -502px}
.I_Scroll {width:48px; height:48px; background-position: -452px -452px}
.I_Scroll02 {width:48px; height:48px; background-position: -452px -402px}
.I_SilverBar {width:48px; height:48px; background-position: -1002px -352px}
.I_SilverCoin {width:48px; height:48px; background-position: -952px -352px}
.I_SnailShell {width:48px; height:48px; background-position: -902px -352px}
.I_SolidShell {width:48px; height:48px; background-position: -852px -352px}
.I_Telescope {width:48px; height:48px; background-position: -802px -352px}
.I_Tentacle {width:48px; height:48px; background-position: -752px -352px}
.I_Torch01 {width:48px; height:48px; background-position: -702px -352px}
.I_Torch02 {width:48px; height:48px; background-position: -652px -352px}
.I_Water {width:48px; height:48px; background-position: -602px -352px}
.I_WolfFur {width:48px; height:48px; background-position: -552px -352px}
.P_Blue01 {width:48px; height:48px; background-position: -502px -352px}
.P_Blue02 {width:48px; height:48px; background-position: -452px -352px}
.P_Blue03 {width:48px; height:48px; background-position: -402px -952px}
.P_Blue04 {width:48px; height:48px; background-position: -402px -902px}
.P_Green01 {width:48px; height:48px; background-position: -402px -852px}
.P_Green02 {width:48px; height:48px; background-position: -402px -802px}
.P_Green03 {width:48px; height:48px; background-position: -402px -752px}
.P_Green04 {width:48px; height:48px; background-position: -402px -702px}
.P_Medicine01 {width:48px; height:48px; background-position: -402px -652px}
.P_Medicine02 {width:48px; height:48px; background-position: -402px -602px}
.P_Medicine03 {width:48px; height:48px; background-position: -402px -552px}
.P_Medicine04 {width:48px; height:48px; background-position: -402px -502px}
.P_Medicine05 {width:48px; height:48px; background-position: -402px -452px}
.P_Medicine06 {width:48px; height:48px; background-position: -402px -402px}
.P_Medicine07 {width:48px; height:48px; background-position: -402px -352px}
.P_Medicine08 {width:48px; height:48px; background-position: -1002px -302px}
.P_Medicine09 {width:48px; height:48px; background-position: -952px -302px}
.P_Orange01 {width:48px; height:48px; background-position: -902px -302px}
.P_Orange02 {width:48px; height:48px; background-position: -852px -302px}
.P_Orange03 {width:48px; height:48px; background-position: -802px -302px}
.P_Orange04 {width:48px; height:48px; background-position: -752px -302px}
.P_Pink01 {width:48px; height:48px; background-position: -702px -302px}
.P_Pink02 {width:48px; height:48px; background-position: -652px -302px}
.P_Pink03 {width:48px; height:48px; background-position: -602px -302px}
.P_Pink04 {width:48px; height:48px; background-position: -552px -302px}
.P_Red01 {width:48px; height:48px; background-position: -502px -302px}
.P_Red02 {width:48px; height:48px; background-position: -452px -302px}
.P_Red03 {width:48px; height:48px; background-position: -402px -302px}
.P_Red04 {width:48px; height:48px; background-position: -352px -952px}
.P_White01 {width:48px; height:48px; background-position: -352px -902px}
.P_White02 {width:48px; height:48px; background-position: -352px -852px}
.P_White03 {width:48px; height:48px; background-position: -352px -802px}
.P_White04 {width:48px; height:48px; background-position: -352px -752px}
.P_Yellow01 {width:48px; height:48px; background-position: -352px -702px}
.P_Yellow02 {width:48px; height:48px; background-position: -352px -652px}
.P_Yellow03 {width:48px; height:48px; background-position: -352px -602px}
.P_Yellow04 {width:48px; height:48px; background-position: -352px -552px}
.S_Bow01 {width:48px; height:48px; background-position: -352px -502px}
.S_Bow02 {width:48px; height:48px; background-position: -352px -452px}
.S_Bow03 {width:48px; height:48px; background-position: -352px -402px}
.S_Bow04 {width:48px; height:48px; background-position: -352px -352px}
.S_Bow05 {width:48px; height:48px; background-position: -352px -302px}
.S_Bow06 {width:48px; height:48px; background-position: -1002px -252px}
.S_Bow07 {width:48px; height:48px; background-position: -952px -252px}
.S_Bow08 {width:48px; height:48px; background-position: -902px -252px}
.S_Bow09 {width:48px; height:48px; background-position: -852px -252px}
.S_Bow10 {width:48px; height:48px; background-position: -802px -252px}
.S_Bow11 {width:48px; height:48px; background-position: -752px -252px}
.S_Bow12 {width:48px; height:48px; background-position: -702px -252px}
.S_Bow13 {width:48px; height:48px; background-position: -652px -252px}
.S_Bow14 {width:48px; height:48px; background-position: -602px -252px}
.S_Buff01 {width:48px; height:48px; background-position: -552px -252px}
.S_Buff02 {width:48px; height:48px; background-position: -502px -252px}
.S_Buff03 {width:48px; height:48px; background-position: -452px -252px}
.S_Buff04 {width:48px; height:48px; background-position: -402px -252px}
.S_Buff05 {width:48px; height:48px; background-position: -352px -252px}
.S_Buff06 {width:48px; height:48px; background-position: -302px -952px}
.S_Buff07 {width:48px; height:48px; background-position: -302px -952px}
.S_Buff08 {width:48px; height:48px; background-position: -302px -902px}
.S_Buff09 {width:48px; height:48px; background-position: -302px -852px}
.S_Buff10 {width:48px; height:48px; background-position: -302px -802px}
.S_Buff11 {width:48px; height:48px; background-position: -302px -752px}
.S_Buff12 {width:48px; height:48px; background-position: -302px -702px}
.S_Buff13 {width:48px; height:48px; background-position: -302px -652px}
.S_Buff14 {width:48px; height:48px; background-position: -302px -602px}
.S_Death01 {width:48px; height:48px; background-position: -302px -552px}
.S_Death02 {width:48px; height:48px; background-position: -302px -502px}
.S_Earth01 {width:48px; height:48px; background-position: -302px -452px}
.S_Earth02 {width:48px; height:48px; background-position: -302px -402px}
.S_Earth03 {width:48px; height:48px; background-position: -302px -352px}
.S_Earth04 {width:48px; height:48px; background-position: -302px -302px}
.S_Earth05 {width:48px; height:48px; background-position: -302px -252px}
.S_Earth06 {width:48px; height:48px; background-position: -1002px -202px}
.S_Earth07 {width:48px; height:48px; background-position: -952px -202px}
.S_Fire01 {width:48px; height:48px; background-position: -902px -202px}
.S_Fire02 {width:48px; height:48px; background-position: -852px -202px}
.S_Fire03 {width:48px; height:48px; background-position: -802px -202px}
.S_Fire04 {width:48px; height:48px; background-position: -752px -202px}
.S_Fire05 {width:48px; height:48px; background-position: -702px -202px}
.S_Fire06 {width:48px; height:48px; background-position: -652px -202px}
.S_Fire07 {width:48px; height:48px; background-position: -602px -202px}
.S_Holy01 {width:48px; height:48px; background-position: -552px -202px}
.S_Holy02 {width:48px; height:48px; background-position: -502px -202px}
.S_Holy03 {width:48px; height:48px; background-position: -452px -202px}
.S_Holy04 {width:48px; height:48px; background-position: -402px -202px}
.S_Holy05 {width:48px; height:48px; background-position: -352px -202px}
.S_Holy06 {width:48px; height:48px; background-position: -302px -202px}
.S_Holy07 {width:48px; height:48px; background-position: -252px -952px}
.S_Ice01 {width:48px; height:48px; background-position: -252px -902px}
.S_Ice02 {width:48px; height:48px; background-position: -252px -852px}
.S_Ice03 {width:48px; height:48px; background-position: -252px -802px}
.S_Ice04 {width:48px; height:48px; background-position: -252px -752px}
.S_Ice05 {width:48px; height:48px; background-position: -252px -702px}
.S_Ice06 {width:48px; height:48px; background-position: -252px -652px}
.S_Ice07 {width:48px; height:48px; background-position: -252px -602px}
.S_Light01 {width:48px; height:48px; background-position: -252px -552px}
.S_Light02 {width:48px; height:48px; background-position: -252px -502px}
.S_Light03 {width:48px; height:48px; background-position: -252px -452px}
.S_Magic01 {width:48px; height:48px; background-position: -252px -402px}
.S_Magic02 {width:48px; height:48px; background-position: -252px -352px}
.S_Magic03 {width:48px; height:48px; background-position: -252px -302px}
.S_Magic04 {width:48px; height:48px; background-position: -252px -252px}
.S_Physic01 {width:48px; height:48px; background-position: -252px -202px}
.S_Physic02 {width:48px; height:48px; background-position: -1002px -152px}
.S_Poison01 {width:48px; height:48px; background-position: -952px -152px}
.S_Poison02 {width:48px; height:48px; background-position: -902px -152px}
.S_Poison03 {width:48px; height:48px; background-position: -852px -152px}
.S_Poison04 {width:48px; height:48px; background-position: -802px -152px}
.S_Poison05 {width:48px; height:48px; background-position: -752px -152px}
.S_Poison06 {width:48px; height:48px; background-position: -702px -152px}
.S_Poison07 {width:48px; height:48px; background-position: -652px -152px}
.S_Shadow01 {width:48px; height:48px; background-position: -602px -152px}
.S_Shadow02 {width:48px; height:48px; background-position: -552px -152px}
.S_Shadow03 {width:48px; height:48px; background-position: -502px -152px}
.S_Shadow04 {width:48px; height:48px; background-position: -452px -152px}
.S_Shadow05 {width:48px; height:48px; background-position: -402px -152px}
.S_Shadow06 {width:48px; height:48px; background-position: -352px -152px}
.S_Shadow07 {width:48px; height:48px; background-position: -302px -152px}
.S_Sword01 {width:48px; height:48px; background-position: -252px -152px}
.S_Sword02 {width:48px; height:48px; background-position: -202px -952px}
.S_Sword03 {width:48px; height:48px; background-position: -202px -902px}
.S_Sword04 {width:48px; height:48px; background-position: -202px -852px}
.S_Sword05 {width:48px; height:48px; background-position: -202px -802px}
.S_Sword06 {width:48px; height:48px; background-position: -202px -752px}
.S_Sword07 {width:48px; height:48px; background-position: -202px -702px}
.S_Sword08 {width:48px; height:48px; background-position: -202px -652px}
.S_Sword09 {width:48px; height:48px; background-position: -202px -602px}
.S_Sword10 {width:48px; height:48px; background-position: -202px -552px}
.S_Thunder01 {width:48px; height:48px; background-position: -202px -502px}
.S_Thunder02 {width:48px; height:48px; background-position: -202px -452px}
.S_Thunder03 {width:48px; height:48px; background-position: -202px -402px}
.S_Thunder04 {width:48px; height:48px; background-position: -202px -352px}
.S_Thunder05 {width:48px; height:48px; background-position: -202px -302px}
.S_Thunder06 {width:48px; height:48px; background-position: -202px -252px}
.S_Thunder07 {width:48px; height:48px; background-position: -202px -202px}
.S_Water01 {width:48px; height:48px; background-position: -202px -152px}
.S_Water02 {width:48px; height:48px; background-position: -1002px -102px}
.S_Water03 {width:48px; height:48px; background-position: -952px -102px}
.S_Water04 {width:48px; height:48px; background-position: -902px -102px}
.S_Water05 {width:48px; height:48px; background-position: -852px -102px}
.S_Water06 {width:48px; height:48px; background-position: -802px -102px}
.S_Water07 {width:48px; height:48px; background-position: -752px -102px}
.S_Wind01 {width:48px; height:48px; background-position: -702px -102px}
.S_Wind02 {width:48px; height:48px; background-position: -652px -102px}
.S_Wind03 {width:48px; height:48px; background-position: -602px -102px}
.S_Wind04 {width:48px; height:48px; background-position: -552px -102px}
.S_Wind05 {width:48px; height:48px; background-position: -502px -102px}
.S_Wind06 {width:48px; height:48px; background-position: -452px -102px}
.S_Wind07 {width:48px; height:48px; background-position: -402px -102px}
.W_Axe001 {width:48px; height:48px; background-position: -352px -102px}
.W_Axe002 {width:48px; height:48px; background-position: -302px -102px}
.W_Axe003 {width:48px; height:48px; background-position: -252px -102px}
.W_Axe004 {width:48px; height:48px; background-position: -202px -102px}
.W_Axe005 {width:48px; height:48px; background-position: -152px -952px}
.W_Axe006 {width:48px; height:48px; background-position: -152px -902px}
.W_Axe007 {width:48px; height:48px; background-position: -152px -852px}
.W_Axe008 {width:48px; height:48px; background-position: -152px -802px}
.W_Axe009 {width:48px; height:48px; background-position: -152px -752px}
.W_Axe010 {width:48px; height:48px; background-position: -152px -702px}
.W_Axe011 {width:48px; height:48px; background-position: -152px -652px}
.W_Axe012 {width:48px; height:48px; background-position: -152px -602px}
.W_Axe013 {width:48px; height:48px; background-position: -152px -552px}
.W_Axe014 {width:48px; height:48px; background-position: -152px -502px}
.W_Book01 {width:48px; height:48px; background-position: -152px -452px}
.W_Book02 {width:48px; height:48px; background-position: -152px -402px}
.W_Book03 {width:48px; height:48px; background-position: -152px -352px}
.W_Book04 {width:48px; height:48px; background-position: -152px -302px}
.W_Book05 {width:48px; height:48px; background-position: -152px -252px}
.W_Book06 {width:48px; height:48px; background-position: -152px -202px}
.W_Book07 {width:48px; height:48px; background-position: -152px -152px}
.W_Bow01 {width:48px; height:48px; background-position: -152px -102px}
.W_Bow02 {width:48px; height:48px; background-position: -1002px -52px}
.W_Bow03 {width:48px; height:48px; background-position: -952px -52px}
.W_Bow04 {width:48px; height:48px; background-position: -902px -52px}
.W_Bow05 {width:48px; height:48px; background-position: -852px -52px}
.W_Bow06 {width:48px; height:48px; background-position: -802px -52px}
.W_Bow07 {width:48px; height:48px; background-position: -752px -52px}
.W_Bow08 {width:48px; height:48px; background-position: -702px -52px}
.W_Bow09 {width:48px; height:48px; background-position: -652px -52px}
.W_Bow10 {width:48px; height:48px; background-position: -602px -52px}
.W_Bow11 {width:48px; height:48px; background-position: -552px -52px}
.W_Bow12 {width:48px; height:48px; background-position: -502px -52px}
.W_Bow13 {width:48px; height:48px; background-position: -452px -52px}
.W_Bow14 {width:48px; height:48px; background-position: -402px -52px}
.W_Dagger001 {width:48px; height:48px; background-position: -352px -52px}
.W_Dagger002 {width:48px; height:48px; background-position: -302px -52px}
.W_Dagger003 {width:48px; height:48px; background-position: -252px -52px}
.W_Dagger004 {width:48px; height:48px; background-position: -202px -52px}
.W_Dagger005 {width:48px; height:48px; background-position: -152px -52px}
.W_Dagger006 {width:48px; height:48px; background-position: -102px -952px}
.W_Dagger007 {width:48px; height:48px; background-position: -102px -902px}
.W_Dagger008 {width:48px; height:48px; background-position: -102px -852px}
.W_Dagger009 {width:48px; height:48px; background-position: -102px -802px}
.W_Dagger010 {width:48px; height:48px; background-position: -102px -752px}
.W_Dagger011 {width:48px; height:48px; background-position: -102px -702px}
.W_Dagger012 {width:48px; height:48px; background-position: -102px -652px}
.W_Dagger013 {width:48px; height:48px; background-position: -102px -602px}
.W_Dagger014 {width:48px; height:48px; background-position: -102px -552px}
.W_Dagger015 {width:48px; height:48px; background-position: -102px -502px}
.W_Dagger016 {width:48px; height:48px; background-position: -102px -452px}
.W_Dagger017 {width:48px; height:48px; background-position: -102px -402px}
.W_Dagger018 {width:48px; height:48px; background-position: -102px -352px}
.W_Dagger019 {width:48px; height:48px; background-position: -102px -302px}
.W_Dagger020 {width:48px; height:48px; background-position: -102px -252px}
.W_Dagger021 {width:48px; height:48px; background-position: -102px -202px}
.W_Fist001 {width:48px; height:48px; background-position: -102px -152px}
.W_Fist002 {width:48px; height:48px; background-position: -102px -102px}
.W_Fist003 {width:48px; height:48px; background-position: -102px -52px}
.W_Fist004 {width:48px; height:48px; background-position: -1002px -2px}
.W_Fist005 {width:48px; height:48px; background-position: -952px -2px}
.W_Gun001 {width:48px; height:48px; background-position: -902px -2px}
.W_Gun002 {width:48px; height:48px; background-position: -852px -2px}
.W_Gun003 {width:48px; height:48px; background-position: -802px -2px}
.W_Mace001 {width:48px; height:48px; background-position: -752px -2px}
.W_Mace002 {width:48px; height:48px; background-position: -702px -2px}
.W_Mace003 {width:48px; height:48px; background-position: -652px -2px}
.W_Mace004 {width:48px; height:48px; background-position: -602px -2px}
.W_Mace005 {width:48px; height:48px; background-position: -552px -2px}
.W_Mace006 {width:48px; height:48px; background-position: -502px -2px}
.W_Mace007 {width:48px; height:48px; background-position: -452px -2px}
.W_Mace008 {width:48px; height:48px; background-position: -402px -2px}
.W_Mace009 {width:48px; height:48px; background-position: -352px -2px}
.W_Mace010 {width:48px; height:48px; background-position: -302px -2px}
.W_Mace011 {width:48px; height:48px; background-position: -252px -2px}
.W_Mace012 {width:48px; height:48px; background-position: -202px -2px}
.W_Mace013 {width:48px; height:48px; background-position: -152px -2px}
.W_Mace014 {width:48px; height:48px; background-position: -102px -2px}
.W_Spear001 {width:48px; height:48px; background-position: -52px -952px}
.W_Spear002 {width:48px; height:48px; background-position: -52px -902px}
.W_Spear003 {width:48px; height:48px; background-position: -52px -852px}
.W_Spear004 {width:48px; height:48px; background-position: -52px -802px}
.W_Spear005 {width:48px; height:48px; background-position: -52px -752px}
.W_Spear006 {width:48px; height:48px; background-position: -52px -702px}
.W_Spear007 {width:48px; height:48px; background-position: -52px -652px}
.W_Spear008 {width:48px; height:48px; background-position: -52px -602px}
.W_Spear009 {width:48px; height:48px; background-position: -52px -552px}
.W_Spear010 {width:48px; height:48px; background-position: -52px -502px}
.W_Spear011 {width:48px; height:48px; background-position: -52px -452px}
.W_Spear012 {width:48px; height:48px; background-position: -52px -402px}
.W_Spear013 {width:48px; height:48px; background-position: -52px -352px}
.W_Spear014 {width:48px; height:48px; background-position: -52px -302px}
.W_Sword001 {width:48px; height:48px; background-position: -52px -252px}
.W_Sword002 {width:48px; height:48px; background-position: -52px -202px}
.W_Sword003 {width:48px; height:48px; background-position: -52px -152px}
.W_Sword004 {width:48px; height:48px; background-position: -52px -102px}
.W_Sword005 {width:48px; height:48px; background-position: -52px -52px}
.W_Sword006 {width:48px; height:48px; background-position: -52px -2px}
.W_Sword007 {width:48px; height:48px; background-position: -2px -952px}
.W_Sword008 {width:48px; height:48px; background-position: -2px -902px}
.W_Sword009 {width:48px; height:48px; background-position: -2px -852px}
.W_Sword010 {width:48px; height:48px; background-position: -2px -802px}
.W_Sword011 {width:48px; height:48px; background-position: -2px -752px}
.W_Sword012 {width:48px; height:48px; background-position: -2px -702px}
.W_Sword013 {width:48px; height:48px; background-position: -2px -652px}
.W_Sword014 {width:48px; height:48px; background-position: -2px -602px}
.W_Sword015 {width:48px; height:48px; background-position: -2px -552px}
.W_Sword016 {width:48px; height:48px; background-position: -2px -502px}
.W_Sword017 {width:48px; height:48px; background-position: -2px -452px}
.W_Sword018 {width:48px; height:48px; background-position: -2px -402px}
.W_Sword019 {width:48px; height:48px; background-position: -2px -352px}
.W_Sword020 {width:48px; height:48px; background-position: -2px -302px}
.W_Sword021 {width:48px; height:48px; background-position: -2px -252px}
.W_Throw001 {width:48px; height:48px; background-position: -2px -202px}
.W_Throw002 {width:48px; height:48px; background-position: -2px -152px}
.W_Throw003 {width:48px; height:48px; background-position: -2px -102px}
.W_Throw004 {width:48px; height:48px; background-position: -2px -52px}
.W_Throw05 {width:48px; height:48px; background-position: -2px -2px}
