<div class="cursor">
	
	<h6 style="text-align:center;"><span style='margin-right:3px;font-size:1.4em; color:yellow;font-weight:bold;line-height:0.5em;'>!</span><span id="banner">no new alerts</span></h6>
</div>
