
<nav>
	<div class="mobile-grid-33 cursor character_navButton navButton">Attributes</div>
	<div class="mobile-grid-33 cursor character_navButton navButton">Gear</div>
	<div class="mobile-grid-33 cursor character_navButton navButton">Inventory</div>
</nav>
<section id="characterSubView"></section>