{{!-- <hr class="style-one"> --}}
{{!-- <div class="grid-33 tablet-grid-33 mobile-grid-33" style="padding:0px;"><button style="width:100%; min-width:0px; margin:auto;" class="character_navButton">Gear</button></div>
<div class="grid-33 tablet-grid-33 mobile-grid-33" style="padding:0px;"><button style="width:100%; min-width:0px; margin:auto;" class="character_navButton">Attributes</button></div>
<div class="grid-33 tablet-grid-33 mobile-grid-33" style="padding:0px;"><button style="width:100%; min-width:0px; margin:auto;" class="character_navButton">Inventory</button></div> --}}

{{!-- <div class="grid-25 tablet-grid-25 mobile-grid-25" style="padding:0px;"><button style="width:100%; min-width:0px; margin:auto;" class="character_navButton">Gear</button></div>
<div class="grid-25 tablet-grid-25 mobile-grid-25" style="padding:0px;"><button style="width:100%; min-width:0px; margin:auto;" class="character_navButton">Attributes</button></div>
<div class="grid-25 tablet-grid-25 mobile-grid-25" style="padding:0px;"><button style="width:100%; min-width:0px; margin:auto;" class="character_navButton">Inventory</button></div>
<div class="grid-25 tablet-grid-25 mobile-grid-25" style="padding:0px;"><button style="width:100%; min-width:0px; margin:auto;" class="character_navButton">Profession</button></div>

<div class="clear"></div> --}}
{{!-- <h6 style="padding:6px; text-align:center;">{{name}} - level {{level}} {{race}} <span class="spec">{{spec}}</span></h6>
<section class="grid-parent grid-100 tablet-grid-100 mobile-grid-100" id="characterSubView"></section> --}}

<h5>Character View</h5>
<p>A nice help section</p>