<h1>Quicksilver</h1>
<label for="characterName">Name</label>
<br>
<input placeholder="Character Name" id="characterName" type='text'>

<br>
<br>

<label>Gender</label>
<br>
<select  id="selectGender">
	<option>Male</option>
	<option>Spirit</option>
	<option>Female</option>
</select>

<br>
<br>

<label>Race</label>
<br>
<select id="selectRace">
	<option>Human</option>
	<option>Elf</option>
	<option>Dwarf</option>
</select>

<br><br>

<img class="imageFrame" id="characterImage" alt="loading" src="static/app/images/characters/heroes/hero_human_male.png">
<br><br>



<input id="submit" type='submit'>
<button id='cancel'>Cancel</button>