{{!-- <hr class="style-one">
<div class="mobile-grid-33 tablet-grid-33 grid-33" style="padding:0px;"><button style="width:100%; min-width:0px; margin:auto;" class="city_navButton">Market</button></div>
<div class="mobile-grid-33 tablet-grid-33 grid-33" style="padding:0px;"><button style="width:100%; min-width:0px; margin:auto;" class="city_navButton">Guilds</button></div>
<div class="mobile-grid-33 tablet-grid-33 grid-33" style="padding:0px;"><button style="width:100%; min-width:0px; margin:auto;" class="city_navButton">Tavern</button></div>
<div class="clear"></div> --}}
{{!-- <div id="citySubView"></div> --}}
<h5>City View</h5>