{{#each this}}
	<div class="box">
		<h2>{{name}}</h2>
		<h3>level {{level}}</h3>
		<button style="float:right;" name="{{name}}" class="doBattleBtn">Do Battle</button>
		<div class="clear"></div>
	</div>
{{/each}}