<section class="grid-100 tablet-grid-100 mobile-grid-100 grid-parent" id="statsContainer"></section>
<nav></nav>
<br><br>
<section class="grid-100 tablet-grid-100 mobile-grid-100 grid-parent" id="subView"></section>
<div class="alertSidebar">!</div>
<div id="navigation-view-container"></div>


