<br>
<input style="text-align:center;" id="guildName" placeHolder="Enter a Guild Name" type="text">
<br><br>
<button id="createGuild">Create Guild</button>
<br><br>
<p>Create and manage a guild.  There is power in numbers and teaming up with many other heroes allows you and your guild members to all become even mightier!  Devoted members can become inside the Inner Circle offering even greater enhancements week after week!</p>
<br>
<p>NOTE: You can also join other guilds and continue to manage your own</p>