<br>
<p>Quicksilver is a creaation of <a href="http://www.part12studios.com" target="_blank">Part12 Studios</a></p>
<br>
<h5>Send us some feedback</h5>
<textarea style="width:90%;" name="feedback" id="feedback" rows="10"></textarea>
<button id="homeLeaveFeedback">Send</button>