<div class="loreFrame">
	<h4 style="text-align:center;">Quicksilver Lore</h4>
	<p>Welcome to Crimson Valley.  A land troubled by an evil sorcerer named Crowvel.  Help King Stavian and his people survive and repel these evil forces.  Only you and your friends can help reclaim these lands and restore peace... <a id="readMore" class="cursor">read more</a></p>
	<p style="display:none;">
		It is said by some that moths bridge the realms of day and night.  They also link earth to another world known as Parallelia.  This other world is divided into numerous kingdoms and regions.  Our story starts in one particularly troubled area that needs heroes to help it defend what is left and reclaim what was taken in oder to restore peace.
	</p>
	<p style="display:none;">
	The land is known as Crimson Valley.  Overseen by the respected human bloodline House Stavian, King Jahn and his people has see much of kingdom fall into ruin and unrest.  The southern lands were always deemed haunted and more or less avoided if nothing else because of many too many of the locals heard too many ghost stories growing up.  However now it seems that these once harmless ghost stories and superstitions have manifested into real danger.
	</p>
	<p style="display:none;">
	Recently news of a great sorcerer has been reported in the crystalline caverns deep in the southern mountains.  This sorcerer calls himself Crowvel.  He’s said to be behind all of it and if we can get to the caverns, perhaps someone can put an end to this and help restore order in Crimson. 
	</p>
</div>




