<div class="mobile-grid-20 main_navButton navButton cursor">Home</div>
<div class="mobile-grid-20 main_navButton navButton cursor">Character</div>
<div class="mobile-grid-20 main_navButton navButton cursor">Quest</div>
<div class="mobile-grid-20 main_navButton navButton cursor">Guild</div>
<div class="mobile-grid-20 main_navButton navButton cursor">Dueling</div>
<div class="mobile-grid-20 main_navButton navButton cursor">Market</div>
<div class="mobile-grid-20 main_navButton navButton cursor">Logout</div>


