<h5>{{name}}</h5>
<button id="back">Back</button>
<div class="clear"></div>
<br>
<div id="gridContainer"></div>
<div class="clear"></div>

<h6 style="margin-top:230px;">Primary Stat: {{questType}}</h6>
<br>
<h6>Description:</h6>
<p>{{description}}</p>
