<div style="text-align:center;">
	<div class="m10"></div>
	<h1>Quicksilver</h1>
	<h5>chapter 1: Rise of Crowvel</h5>
	<br>
	<button id="start">Start</button>
	<br><br>
	<img style="width:100%;" src="static/app/css/elfhead.jpg" alt="">
	{{!-- <div style="text-align:center;" class="box">
		<h4>Welcome to Quicksilver: Rise of Crowvel</h4>
		<p>This week farmer Bob and his wife June over at Fence Me In Farm had their 4th baby girl! There's going to be no shortage of wool socks in the family!</p>
	</div> --}}
	<div class="m20"></div>
	
</div>
