<div style="text-align:center;">
	<h4><a href="http://part12studios.com">Developer Website</a></h4>
	<br>
	<h4>Background art provided by <a href="http://digitalblasphemy.com/">Digital Blasphemy</a></h4>
</div>

