
<div class="mobile-push-10 mobile-grid-80">
	<textarea class="box" maxlength="150" name="status" id="status">{{status}}</textarea>
	<div class="m10"></div>
	<button id="updateStatusButton">Update Quicksilver Status</button>
</div>